* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* ------Preloader-------- */
#preloader {
  background: #fcfefc url(./eduford_img//preloader.gif) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./eduford_img/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  padding: 8px 12px;
  position: relative;
  display: inline-block;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
}

.nav-links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0;
}

.nav-links ul li:hover::after {
  width: 100%;
  transition: 0.4s;
}

.text-box {
  width: 90%;
  color: #fff;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin: 50px auto;
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 15px;
}

.btn1 {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgb(0, 192, 176);
  padding: 10px;
  border-radius: 15px;
  transition: 0.4s;
}
.btn2 {
  display: inline-block;
  text-decoration: none;
  color: rgb(14, 11, 11);
  border: 1px solid rgb(0, 192, 176);
  padding: 10px;
  border-radius: 15px;
  transition: 0.4s;
}

.btn1,
.btn2:hover {
  background-color: rgba(0, 192, 176, 0.164);
  cursor: pointer;
  color: #fff;
}

nav .fa-solid {
  display: none;
}

/* course section */
.course {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-top: 100px;
}

.course h1 {
  font-size: 35px;
  font-weight: 600;
  color: rgb(20, 19, 19);
}

.course p {
  color: rgb(150, 140, 140);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 38%;
  background-color: rgba(235, 205, 205, 0.192);
  padding: 20px 10px;
  border-radius: 15px;
  margin-bottom: 5%;
  margin-right: 15px;
  box-sizing: border-box;
  transition: 0s;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(17, 19, 19, 0.164);
  transition: 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px, 0;
}

/* campus */

.campus {
  width: 80%;
  margin: 30px auto;
}

.campus h1 {
  text-align: center;
  margin-bottom: 10px;
}

.campus-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background-color: #ff110094;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.4s;
}

.layer:hover h3 {
  bottom: 120px;
  opacity: 1;
}
/* facilities */
.facilities {
  width: 80%;
  margin: auto;
}

.facilities h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}

.facilities-col {
  flex-basis: 30%;
  border-radius: 15px;
  margin-bottom: 5%;
  text-align: left;
}
.facilities-col img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

/* testimonials */

.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonial-col {
  display: flex;
  flex-basis: 40%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  background: rgba(236, 84, 84, 0.082);
  padding: 25px;
  cursor: pointer;
}

.testimonial-col img {
  height: 80px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonial-col p {
  padding: 0;
}

.testimonial-col h3 {
  margin-top: 15px;
  text-align: center;
}

.testimonial-col .fa-solid {
  color: rgb(201, 149, 6);
}

/* call to action */
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(eduford_img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}

.cta a {
  text-decoration: none;
  padding: 5px 10px;
  background: rgb(197, 152, 5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
  transition: 0.4s;
}

.cta a:hover {
  background-color: #fff;
  color: rgb(197, 152, 5);
  border: 1px solid rgb(197, 152, 5);
}

/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-top: 25px;
  font-weight: 600;
}
.footer p {
  margin: 40px 20px;
  font-weight: 300;
}

.icons .fa-brands {
  font-size: 25px;
  margin-right: 8px;
  padding: 5px;
  color: #f44336;
  border: 1px solid #f44336;
  border-radius: 30%;
  transition: 0.4s;
}

.icons .fa-brands:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
}

/* ---------------------- About us Page--------------- */

.sub-header {
  height: 60vh;
  width: 100%;
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rbga(4, 9, 30, 0.7)),
    url(./eduford_img/about.jpg); */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./eduford_img/about.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
  font-weight: 400;
}

.about-us {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
}
.about-col {
  flex-basis: 48%;
  padding: 32px 5px;
}

.about-col img {
  width: 100%;
}
.about-col h1 {
  padding-top: 0;
}
.about-col p {
  padding: 15px 0 20px;
}

/*-------------- Blog page--------- */
.blog-content {
  width: 80%;
  margin: auto;
  padding: 60px 0;
}

.blog-left {
  flex-basis: 65%;
}

.blog-left img {
  width: 100%;
}

.blog-left h2 {
  color: #222;
  font-weight: 400;
  margin: 30px 0;
}

.blog-right {
  flex-basis: 32%;
}

.blog-right h3 {
  background: #f44336;
  color: #fff;
  padding: 7px 0;
  font-size: 18px;
  margin-bottom: 20px;
}

.blog-right div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #555;
  padding: 10px;
  box-sizing: border-box;
}

/* comment box */

.comment-box {
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}

.comment-box h3 {
  text-align: left;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: #f0f0f0;
  box-sizing: border-box;
}

/* ---------Contact Page ----------- */
.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 45%;
  margin-bottom: 20px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col .fa-solid {
  font-size: 24px;
  margin-right: 10px;
  color: tomato;
}

.contact-col p {
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}

.contact-col h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #555;
  font-weight: 500;
}
/* /////// ////// responsive for mobile devices */

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44366;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    transition: 1s;
    text-align: left;
    z-index: 10;
  }

  nav .fa-solid {
    color: #fff;
    display: block;
    color: #fff;
    margin: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
  .row {
    flex-direction: column;
  }
  .sub-header h1 {
    font-size: 24px;
  }
}
